#wrapper {
  min-height: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

main,
aside {
  /* border: 1px solid red; */
  padding: 0px 5% 85px;
  flex: 1 0 100%;
}

main {
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 55px 5% 20px;
}

main section {
  width: 100%;
}

main .temperature-list {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

main .temperature-list .temperature {
  flex: 1 0;
  margin-right: 20px;
  margin-top: 10px;
}

main .temperature-list .temperature:nth-child(1) {
  flex-basis: 100%;
  margin-bottom: 10px;
}

main .temperature-list .temperature p {
  margin-top: 2px;
}

main .temperature-list .temperature p .fas {
  margin-right: 4px;
}

main #sunrise .sunrise-info {
  position: relative;
}

main #sunrise .sunrise,
main #sunrise .sunset {
  position: absolute;
  bottom: 30px;
  left: -15px;
}

main #sunrise .sunset {
  left: unset;
  right: -15px;
}

main #sunrise .sunrise p:nth-child(2),
main #sunrise .sunset p:nth-child(2) {
  font-weight: lighter;
  font-size: smallr;
}

main #sunrise .following-days .days {
  justify-content: center;
}

main #sunrise .following-days .days .day {
  flex: 0 1 22.5%;
}

main #sunrise .following-days .days .day p {
  margin-bottom: 0.3rem;
}

main #sunrise .following-days .days .day p:nth-child(3) {
  font-weight: lighter;
  font-size: small;
}

aside .aside-major:nth-child(2) {
  margin: 30px 0 40px;
}

aside .header-aside {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0 5%;
}

aside .nearby-times,
aside .nearby-times .d-flex {
  align-items: flex-end;
  flex-wrap: wrap;
}

aside .nearby-times .nearby-item {
  flex: 1 0;
  margin-right: 20px;
}

aside .nearby-times .nearby-item:nth-child(2) {
  flex-basis: 100%;
  margin-bottom: 10px;
}

aside .additional-info {
  flex-wrap: wrap;
  margin-top: 25px;
}

aside .additional-info .info {
  flex: 1 0 50%;
  margin: 2.5px 0;
}

aside .additional-info .info .title {
  line-height: 0;
  margin-bottom: 8px;
}

aside .temperature-bar {
  position: relative;
  margin-top: 30px;
}

aside .temperature-bar .temperature-bar-indicator {
  border: 4px solid #666;
  border-radius: 10px;
}

aside .temperature-bar .temperature-bar-indicator::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.3rem;
  background-color: #fee1e2;
  top: 1.5px;
  left: 1.5px;
  border-radius: 10px;
}

aside .temperature-bar .title {
  /* line-height: 0; */
  margin: 15px 0 5px;
}

aside .additional-info .info p {
  font-weight: lighter;
}

aside .saved-cities-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

aside .saved-cities .display-4 {
  margin-bottom: 10px;
}

aside .saved-cities .city {
  padding: 8px 20px;
  background: #fee1e2;
  color: #2e2e2e;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 45%;
  text-transform: uppercase;
}

aside .saved-cities .city .name {
  margin-bottom: 0;
}

aside .saved-cities .city .name + h2 {
  margin-top: 0;
}

aside .saved-cities .city:nth-child(odd) {
  margin-right: 15px;
}

footer nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  justify-content: space-between;
}

footer nav a {
  padding: 10px 13px;
  border-radius: 50%;
  background: #fee1e2;
  color: #2e2e2e !important;
  font-size: 1.6em;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgb(254, 225, 226, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.modal a {
  padding: 9px 13px;
  border-radius: 50%;
  color: #fee1e2;
  background: #2e2e2e;
  font-size: 1.6em;
  cursor: pointer;
  bottom: -200px;
  right: 30px;
  position: fixed;
}

.modal .spinner,
.modal .v-child {
  text-align: center;
}

.modal .spinner p {
  color: #fe6b6e;
  font-size: 3em;
}

.modal .modal-child:nth-child(2) {
  justify-content: center;
}

.modal form {
  color: #2e2e2e;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.modal form label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}

.notification {
  position: fixed;
  top: -30px;
  left: -90px;
  padding: 9px 13px;
  border-radius: 0;
  font-weight: 700;

  transition: 0.5s;
}

.notification.shown {
  top: 20px;
  left: 30px;
}

.notification.shown.danger {
  background: #fe6b6e;
  color: #fee1e2;
}

.notification.shown.success {
  background: #fee1e2;
  color: #2e2e2e;
}

@media (min-width: 992px) {
  main,
  aside {
    flex-basis: 50%;
    max-width: unset;
    padding: 0px 5% 40px;
    height: 100%;
    overflow-y: auto;
  }

  main {
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
  }

  aside {
    margin-left: 50%;
  }

  main .temperature-list .temperature:nth-child(1) {
    flex-basis: 20%;
  }

  main #sunrise .sunrise,
  main #sunrise .sunset {
    bottom: 50px;
  }

  aside .header-aside {
    position: static;
    padding: 0;
  }

  aside .nearby-times .nearby-item:nth-child(2) {
    flex-basis: unset;
    margin-bottom: unset;
  }

  footer nav {
    padding: 30px 5% 50px;
  }
}
