#wrapper {
  min-height: 100%;
  height: fit-content;
}

main,
aside {
  border: 1px solid red;
  padding: 70px 10%;
  padding-bottom: 20px;
}

main {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

main section {
  width: 100%;
}

main .temperature-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

main .temperature-list .temperature {
  flex: 0 1;
  margin-right: 20px;
  margin-top: 10px;
}

main .temperature-list .temperature:nth-child(1) {
  font-size: 4em;
  flex-basis: 100%;
  margin-bottom: 10px;
}

main .temperature-list .temperature p {
  margin-top: 2px;
}

main .temperature-list .temperature p .fas {
  margin-right: 4px;
}

main #sunrise .sunrise-info {
  position: relative;
}

main #sunrise .sunrise,
main #sunrise .sunset {
  position: absolute;
  bottom: 30px;
  left: -15px;
}

main #sunrise .sunset {
  left: unset;
  right: -15px;
}

main #sunrise .sunrise p:nth-child(2),
main #sunrise .sunset p:nth-child(2) {
  font-weight: lighter;
  font-size: smaller;
}

main #sunrise .following-days .days {
  display: flex;
  justify-content: center;
}

main #sunrise .following-days .days .day {
  flex: 0 1 22.5%;
}

main #sunrise .following-days .days .day p {
  margin-bottom: 0.3rem;
}

main #sunrise .following-days .days .day p:nth-child(3) {
  font-weight: lighter;
  font-size: smaller;
}

@media (min-width: 992px) {
  #wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  main,
  aside {
    padding: 150px 10%;
  }

  main {
    position: fixed;
    left: 0;
    top: 0;
    width: 55%;
    height: 100%;
    max-width: unset;
    margin: unset;
  }

  aside {
    flex-basis: 45%;
    margin-left: 55%;
  }

  main .temperature-list .temperature:nth-child(1) {
    flex-basis: 20%;
    font-size: 5em;
  }

  main #sunrise .sunrise,
  main #sunrise .sunset {
    bottom: 40px;
  }
}
